<div class="hero">
  <p class="large brandon"> MARMOIT IS COMING</p>
  <p class="small brandon">ITS TIME TO REINVENT YOUR STYLE...Right Now.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>